<script lang="ts">
	import { ingredients } from "./minecraft/ingredients";
	import { ingredients_to_graph } from "./minecraft/graph";
	import { get_node_level } from "./minecraft/graph";
	import { get_node_levels } from "./minecraft/graph";
	import { get_reachable_indexes } from "./minecraft/graph";
	import IngredientCard from "./IngredientCard.svelte";

	// Filter unused ingredients
	let working_ingredients = [];
	for(let ingredient of ingredients.slice(1)) {
		if(ingredient.id_mc === null)
			continue;
		working_ingredients.push(ingredient);
	}

	let graph = ingredients_to_graph(working_ingredients);
	let node_levels = get_node_levels(graph);

	// Filter ingredients for which there are equally-named ingredients of a
	// higher level
	let new_working_ingredients = [];
	function get_max_level(name) {
		let max_level = -1;
		for(let i = 0; i < graph.nodes.length; i++) {
			let name2 = working_ingredients[graph.nodes[i].id].l_name;
			if(name == name2)
				max_level = Math.max(max_level, node_levels[i]);
		}
		return max_level;
	}
	for(let i = 0; i < graph.nodes.length; i++) {
		let ingredient = working_ingredients[graph.nodes[i].id];
		let node_level = node_levels[i];
		let max_node_level = get_max_level(ingredient.l_name);
		if(node_level == max_node_level)
			new_working_ingredients.push(ingredient);
	}
	working_ingredients = new_working_ingredients;
	graph = ingredients_to_graph(working_ingredients);
	node_levels = get_node_levels(graph);


	// Partition the nodes according to their levels
	let node_partition = [];
	let levels = [...new Set(node_levels)];
	levels.sort();
	for(const level of levels) {
		let nodes_of_level_i_indexes = [];
		for(let i = 0; i < node_levels.length; i++) {
			console.log([node_levels[52], level]);
			if(node_levels[i] == level) {
				nodes_of_level_i_indexes.push(i);
			}
		}
		node_partition.push(nodes_of_level_i_indexes);
	}

	// The active partition defines which elements appear on the screen
	let active_partition = node_partition;

	// Called when the user selects a node
	let node_selected = -1;
	function select_node(i) {
		// Case: unselect
		if(node_selected == i) {
			active_partition = node_partition
			node_selected = -1;
			return;
		}

		// Filter the partition sets to only include nodes reachable from the
		// selected node.
		let reachable_indexes = get_reachable_indexes(i, graph);
		reachable_indexes.push(i);
		let new_partition = [];
		for(const level_indexes of node_partition) {
			let new_level_indexes = [];
			for(const j of reachable_indexes) {
				if(level_indexes.includes(j))
					new_level_indexes.push(j);
			}
			new_partition.push(new_level_indexes);
		}
		active_partition = new_partition;
		node_selected = i;
	}
</script>

<main>
	<div class="header">
		Click items to toggle selection.
	</div>
	<div class="column-container">
		{#each node_partition as indexes, i}
		<div class="column">
			<div class="sticky">
				<h2>Level {i}</h2>
			</div>
			{#each indexes as index}
			{#if active_partition[i].includes(index) }
			<IngredientCard
				ingredient_i={graph.nodes[index].id}
				ingredients={working_ingredients}
				on:button_click={()=>{select_node(index);}}
			/>
			{/if}
			{/each}
		</div>
		{/each}
	</div>
</main>

<style>
	.column {
		flex: 1;
		overflow-y: scroll;
	}
	.column-container {
		display: flex;
		flex: 1 1 auto;
		overflow-x: auto;
		height: auto;
	}
	.header {
		padding: 1em;
		flex: 0 1 auto;
		display: table;
		margin: 0 auto;
	}

	h2 {
		display: table;
		margin: 0 auto;
	}

	.sticky {
		position: -webkit-sticky;
		top: 0;
		position: sticky;
		background: white;
		padding: 1em;
	}

	main {
		height: 100%;
		display: flex;
		flex-flow: column;
	}
</style>
