<script>
	import { createEventDispatcher } from "svelte";

	export let ingredient_i;
	export let ingredients;

	function get_img_src(i) {
		let id = i;
		let item = ingredients[id];
		let minecraft_id = item.id_mc;
		let src = "img/icons/"+minecraft_id+".png";
		return src;
	}

	let img_src = get_img_src(ingredient_i);
	let id = ingredient_i;
	let name = ingredients[ingredient_i].l_name;

	const dispatch = createEventDispatcher();
	function onClick() {
		dispatch('button_click', {});
	}
</script>

<article class="minecraft-game-card"  on:click={onClick}>
	<div class="target_item">
		<h2>{name}</h2>
		<img src={img_src} />
		<!--ID: {id}-->
	</div>
</article>

<style>
	.minecraft-game-card {
		width: auto;
		margin: 0.5em;
		border: 1px solid #aaa;
		border-radius: 2px;
		box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
		padding: 1em;
	}

	img {
		display: table;
		margin: 0 auto;
		height: 3em;
	}

	h2 {
		padding: 0 0 0.2em 0;
		margin: 0 0 1em 0;
		border-bottom: 1px solid #ff3e00;
		display: table;
		margin: 0 auto;
	}
</style>
